{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block content %}
Bonjour!
    <a class="btn btn-success m-2" href="{{ path('app_login') }}" >S'identifier'</a>
{% endblock %}
